<ion-header>
  <ion-navbar>
    <ion-title >History Leave Request</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">Bulan</ion-label>
				<!-- <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off" -->
					<!-- required> -->
				<!-- </ion-input> -->
				  <ion-select [(ngModel)]="bulan">
          <ion-option value="1" >Januari</ion-option>
          <ion-option value="2">Februari</ion-option>
          <ion-option value="3">Maret</ion-option>
          <ion-option value="4">April</ion-option>
		  <ion-option value="5">Mei</ion-option>
		  <ion-option value="6">Juni</ion-option>
		  <ion-option value="7">Juli</ion-option>
		  <ion-option value="8">Agustus</ion-option>
		  <ion-option value="9">September</ion-option>
		  <ion-option value="10">Oktober</ion-option>
		   <ion-option value="11">November</ion-option>
		    <ion-option value="12">Desember</ion-option>
        </ion-select>
				<!-- <ion-input  type="text" [(ngModel)]="bulan" > -->
				<!-- </ion-input> -->
			</ion-item>
			

			<ion-item>
				<ion-label stacked color="primary">Tahun</ion-label>
				<!-- <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required> -->
				<!-- </ion-input> -->
				<ion-input  type="text" [(ngModel)]="tahun" >
				</ion-input>
			</ion-item>
			
		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<button ion-button (click)="onSearch()" type="submit" block>Cari</button>
				<!-- <button ion-button (click)="onLogin(loginForm)" type="submit" block>Login</button> -->
			</ion-col>
			
		</ion-row>
		
		<br>
		  <h4>Hasil</h4>
		  <br>
		  <!-- <ion-list  no-lines> -->
  <!-- </ion-content> -->
	
	  <!-- <ion-item *ngFor="let row of newsData "    > -->
<!-- <ion-content class="cards-bg social-cards"> -->
	  
	    <ion-card *ngFor="let row of newsData ">
 
  <ion-card-content>
  <ion-row>
       <ion-col >
        <div>Tipe Cuti :</div>
      </ion-col>
      <ion-col col-auto>
        <div>{{row.ref_leave_type_Name}}</div>
      </ion-col>
 
    </ion-row>
	<ion-row>
       <ion-col >
        <div>Mulai :</div>
      </ion-col>
      <ion-col col-auto>
        <div>{{row.leave_req_StartDate}}</div>
      </ion-col>
 
    </ion-row>
		<ion-row>
       <ion-col >
        <div>Selesai :</div>
      </ion-col>
      <ion-col col-auto>
        <div>{{row.leave_req_EndDate}}</div>
      </ion-col>
 
    </ion-row>
		<ion-row>
       <ion-col >
        <div>Reason :</div>
      </ion-col>
      <ion-col col-auto>
        <div>{{row.leave_req_Reason}}</div>
      </ion-col>
 
    </ion-row>
		<ion-row>
       <ion-col >
        <div>Status :</div>
      </ion-col>
      <ion-col col-auto>
        <div>{{row.leave_req_StatusApprovername}}</div>
      </ion-col>
 
    </ion-row>
		<ion-row>
       <ion-col >
        <div>Comment :</div>
      </ion-col>
      <ion-col col-auto>
        <div>{{row.leave_req_CommentApprover}}</div>
      </ion-col>
 
    </ion-row>
	
	
  
  
  
    <!-- <p>  -->
		   <!-- Jam Masuk  : {{row.attd_rec_TimeIN}} <br> Jam Pulang : {{row.attd_rec_TimeOut}}<br>  -->
		    <!-- Terlambat : {{row.attd_rec_LateIn}} <br> Pulang Cepat : {{row.attd_rec_EarlyOut}}<br>  -->
			 <!-- Status : {{row.attd_rec_Status}} <br> Ket : {{row.attd_rec_AppStatus}}<br></p> -->
  </ion-card-content>

</ion-card>
	  
	  
	  
	  
	  
		
       <!-- {{row.attd_rec_Date}}<br> -->
		   
		
          <!-- <p> -->
          
		   <!-- Jam Masuk  : {{row.attd_rec_TimeIN}} <br> Jam Pulang : {{row.attd_rec_TimeOut}}<br> -->
		    <!-- Terlambat : {{row.attd_rec_LateIn}} <br> Pulang Cepat : {{row.attd_rec_EarlyOut}}<br> -->
			  <!-- Status : {{row.attd_rec_Status}} <br> Ket : {{row.attd_rec_AppStatus}}<br> -->
		
          <!-- </p> -->
   

        

      <!-- </ion-item> -->
	
	
	
	
   
    
  <!-- </ion-list> -->
  

</ion-content>
